<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <system.webServer>

        <validation validateIntegratedModeConfiguration="false" />

        <modules runAllManagedModulesForAllRequests="true" />
 

    </system.webServer>

</configuration>
